@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==========================================================
   CKEDITOR FIX
   ========================================================== */

.ck-editor__editable {
    background-color: #ffffff !important;
    color: #0f172a !important;
}

.ck.ck-editor__editable_inline {
    min-height: 350px;
    color: #0f172a !important;
}

.ck-content {
    color: #0f172a !important;
}

.ck-content p,
.ck-content div,
.ck-content span,
.ck-content li,
.ck-content h1,
.ck-content h2,
.ck-content h3,
.ck-content h4,
.ck-content h5,
.ck-content h6 {
    color: #0f172a !important;
}
